* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-map {
    position: relative;
    background-image: url("/img/map-game.jpg");
    background-size: 100% 100%;
    margin: auto;
    width: 800px;
    height: 600px;
    border: 4px solid rgb(255, 0, 255);
}

.button-map {
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border: 1px solid black;
    border-radius: 50px;
}

.stage-1 {
    position: absolute;
    top: 140px;
    left: 155px;
    /* display: none; */
}

.stage-2 {
    position: absolute;
    top: 150px;
    left: 555px;
    /* display: none; */
}

.stage-3 {
    position: absolute;
    top: 405px;
    left: 390px;
    /* display: none; */
}