* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-map {
    position: relative;
    background-image: url("../img/map-game.jpg");
    background-size: 100% 100%;
    margin: auto;
    width: 1120px;
    height: 630px;
    border: 4px solid rgb(255, 0, 255);
}

.button-map {
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border: 1px solid black;
    border-radius: 50px;
}

.stage-1 {
    position: absolute;
    top: 145px;
    left: 235px;
    opacity: 0;
}

.stage-2 {
    position: absolute;
    top: 160px;
    left: 800px;
    opacity: 0;
}

.stage-3 {
    position: absolute;
    top: 430px;
    left: 565px;
    opacity: 0;
}

.moon-map {
    width: 50px;
    position: absolute;
    animation: moon-animate 4.25s infinite;  
    transform: rotateY(180deg);
}

@keyframes moon-animate{

    0% {
        top: 160px;
        left: 220px;
    }

    10% {
        top: 155px;
    }

    20% {
        top: 165px;
    }

    30% {
        top: 157px;
    }

    40% {
        top: 163px;
    }

    45.99% {
        transform: rotateY(180deg);
    }

    46% {
        transform: rotateY(0deg);
    }

    50% {
        top: 160px;
        left: 305px;
    }

    60% {
        top: 165px;
    }

    70% {
        top: 155px;
    }

    80% {
        top: 163px;
    }

    90% {
        top: 157px;
    }

    95.99% {
        transform: rotateY(0deg);
    }

    96% {
        transform: rotateY(180deg);
    }

    100% {
        top: 160px;
        left: 220px;
    }

}

.gundam-map {
    width: 80px;
    position: absolute;
    top: 165px;
    left: 800px;
}

.tac-map {
    width: 80px;
    position: absolute;
    top: 450px;
    left: 565px;
}