* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    user-select: none;
    overflow: hidden;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 720px;
    border: 3px solid rgb(255, 0, 234);
    overflow: hidden;
}

.game-assets {
    border: 1px solid white;
    margin-top: 50vh;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.game-board {
    position: relative;
    background-image: linear-gradient(#5a23a1, #25b3df);
    width: 100%;
}

.game-status {
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.7), rgba(255, 0, 0, 0.7));
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(255, 0, 234);
    width: 100%;
    height: fit-content;
    z-index: 5;
    overflow: hidden;
}

.sprite {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.cat-entrance {
    animation: cat-entrance 2.8s;
}

@keyframes cat-entrance {
    0% {
        left: -240px;
    }

    100% {
        left: 0px;
    }
}

.box-hearts {
    width: 240px;
    height: 119px;
    background-color: white;
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 0, 0, 0.7),
        rgba(255, 166, 0, 0.7),
        rgba(255, 255, 0, 0.7),
        rgba(0, 128, 0, 0.7),
        rgba(0, 0, 255, 0.7),
        rgba(76, 0, 130, 0.7),
        rgba(238, 130, 238, 0.7)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.heart-status {
    width: 183px;
    height: 60px;
    display: inline-block;
}

.heart-active {
    width: 57px;
}

.box-bomb {
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(170, 170, 170));
    width: 120px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    cursor: pointer;
}

.box-bomb:hover {
    background-image: linear-gradient(to bottom right, rgb(83, 83, 83), rgb(223, 223, 223));
}

.cooldown-bomb {
    position: absolute;
    background-image: linear-gradient(
        to bottom left,
        rgba(0, 0, 0, 0.97),
        rgba(43, 43, 43, 0.97),
        rgba(107, 107, 107, 0.97)
    );
    bottom: 0;
    border-top: 1px solid rgb(105, 105, 105);
    width: 100%;
}

@keyframes cooldown-efect {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.bomb-stts {
    width: 65px;
}

.no-allowed {
    width: 20%;
    position: absolute;
    top: 7%;
    left: 73%;
    display: none;
    z-index: 1;
}

.box-shot {
    background-image: linear-gradient(to bottom right, rgb(58, 28, 107), rgb(178, 174, 238));
    width: 120px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.shot-haduken-stts {
    width: 40px;
    margin-bottom: 5px;
}

.qt-shot-haduken {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

.shot-0 {
    animation: shot-move 2.2s linear;
}

.shot-1 {
    animation: shot-move 2s linear;
}

.shot-2 {
    animation: shot-move 1.6s linear;
}

@keyframes shot-move {
    100% {
        left: 2100px;
    }
}

@keyframes move-planet {
    0% {
        left: 1200px;
    }
    100% {
        left: -250px;
    }
}

.stage-start {
    position: absolute;
    width: 500px;
    transform: translate(-26%, -50%);
    animation: stage-start-move 2s 1 linear;
    z-index: 5;
    user-select: none;
    pointer-events: none;
}

@keyframes stage-start-move {
    0% {
        left: 125%;
        top: 50%;
    }

    15% {
        left: 50%;
        top: 50%;
    }

    85% {
        left: 50%;
        top: 50%;
    }

    100% {
        left: 125%;
        top: 50%;
    }
}

.stage-clear {
    position: absolute;
    width: 800px;
    left: 26%;
    top: -13%;
    z-index: 5;
    animation: stage-clear-move 4s;
}

@keyframes stage-clear-move {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: rotate(0);
        top: 13%;
        left: 26%;
    }

    100% {
        transform: rotate(360deg);
        top: 13%;
        left: 125%;
    }
}

.retry-msg {
    background-color: black;
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -50%);
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 5;
    animation: transition-msg 1s;
}

@keyframes transition-msg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-game-over {
    color: rgb(255, 60, 0);
    font-family: Courier, monospace;
    font-size: 5em;
    text-shadow: 0 0 30px rgb(255, 60, 0);
}

.cat-game-over {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.btn-retry {
    font-family: Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.4em;
    width: 140px;
    height: 60px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn-retry:hover {
    background-color: rgb(64, 255, 121);
    box-shadow: inset 1px 1px 30px rgb(255, 255, 255);
}

.points-final {
    font-family: Courier, monospace;
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 1.4em;
    padding: 20px;
    padding-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -50%);
    border: solid 1px black;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 5;
    animation: transition-msg 1s;
}

.points-final > h2 {
    text-align: left;
}

.points-final > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.button-stage-complete {
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

.button-stage-complete:hover {
    background-color: rgb(64, 255, 121);
    box-shadow: inset 1px 1px 30px rgb(255, 255, 255);
    cursor: pointer;
}

.perfect-stage {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.perfect-stage-msg {
    color: gold;
}

.hidden {
    display: none;
}
