* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    user-select: none;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 720px;
    border: 3px solid rgb(255, 0, 234);
    overflow: hidden;
}

.game-assets {
    border: 1px solid white;
    margin-top: 50vh;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.game-board {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: linear-gradient(#5a23a1, #25b3df);
    overflow: hidden;
}

.sprite {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.game-status-barr {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom right, rgb(107, 107, 107), rgb(228, 228, 228));
    display: flex;
    border-top: 1px solid black;
    z-index: 5;
    overflow: hidden;
}

.box-hearts {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding-left: 40px;
    background-image: linear-gradient(
        to bottom right,
        rgb(255, 75, 75),
        rgb(255, 196, 85),
        rgb(255, 255, 110),
        rgb(69, 255, 69),
        rgb(107, 107, 255),
        rgb(176, 65, 255),
        rgb(255, 176, 255)
    );
    border-right: 1px solid black;
}

.heart-icon {
    width: 50px;
}

.box-skill {
    width: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(53, 255, 137), rgb(255, 255, 255));
    border-right: 1px solid black;
}

.bomb-icon {
    width: 65px;
}

/* .cooldown-bomb {
    position: absolute;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.97), rgba(43, 43, 43, 0.97), rgba(107, 107, 107, 0.97));
    bottom: 0;
    border-top: 1px solid rgb(105, 105, 105);
    width: 100%;
} */

/* @keyframes cooldown-efect {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
} */

.not-allowed {
    width: 20%;
    position: absolute;
    top: 7%;
    left: 73%;
    display: none;
    z-index: 1;
}

.stage-start {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: stage-start-move 2s 1 linear forwards;
    z-index: 5;
}

@keyframes stage-start-move {
    0% {
        left: 125%;
        opacity: 0;
    }
    15% {
        left: 50%;
        opacity: 1;
    }
    85% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 125%;
        opacity: 0;
    }
}

.stage-clear {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: stage-clear-move 4s 1 forwards;
    z-index: 5;
}

@keyframes stage-clear-move {
    0% {
        top: -15%;
        left: -15%;
        opacity: 0;
    }
    50% {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    65% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 135%;
        opacity: 0;
    }
}

.box-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Courier, monospace;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 20px;
    animation: transition-msg 1s;
    z-index: 5;
    overflow: hidden;
}

.box-msg-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@keyframes transition-msg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-game-over {
    color: rgb(255, 50, 0);
    font-size: 3.5em;
}

.text-stage-clear {
    font-size: 3.5em;
}

.cat-game-over-img {
    width: 200px;
}

.btn-box-msg {
    padding: 5px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

.btn-box-msg:hover {
    background-color: rgb(135, 255, 171);
}

.rectangle-border {
    position: absolute;
    border: 2px solid black;
    z-index: 1;
}

.circle-border {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
}

.hidden {
    display: none;
}
