* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7f00ff;
    user-select: none;
    /* overflow: hidden; */
}

.game-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-board {
    background-image: linear-gradient( #5a23a1, #25b3df);
    border: 3px solid rgb(255, 0, 234);
    position: relative;
    margin: auto;
    width: 1200px;
    height: 600px;
    z-index: 0;
    overflow: hidden;
}

.game-status {
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.7), rgba(255, 0, 0, 0.7));
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    border: 3px solid rgb(255, 0, 234);
    width: 1200px;
    height: 120px;
    z-index: 3;
    overflow: hidden;
}

.cat {
    height: 120px;
    position: absolute;
    top: 240px;
    z-index: 1;
    animation: cat-entrance 2.8s;
}

@keyframes cat-entrance {

    0% {
        left: -240px;
    }

    100% {
        left: 0px;
    }

}

.shadow-move {
    height: 120px;
    width: 240px;
    position: absolute;
    top: 240px;
    display: none;
    z-index: 0;
}

.box-hearts {
    width: 240px;
    height: 119px;
    background-color: white;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.7),rgba(255, 166, 0, 0.7),rgba(255, 255, 0, 0.7),rgba(0, 128, 0, 0.7),rgba(0, 0, 255, 0.7),rgba(76, 0, 130, 0.7),rgba(238, 130, 238, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.heart-status {
    width: 183px;
    height: 60px;
    display: inline-block;
}

.heart-active {
    width: 57px;
}

.box-bomb {
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(60, 60, 60), rgb(170, 170, 170));
    width: 120px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    cursor: pointer;
}

.box-shot {
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(58, 28, 107), rgb(178, 174, 238));
    width: 120px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.cooldown-bomb {
    position: absolute;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.97), rgba(43, 43, 43, 0.97), rgba(107, 107, 107, 0.97));
    bottom: 0;
    border-top: 1px solid rgb(105, 105, 105);
    width: 100%;
}

.cooldown-m {
    position: absolute;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.97), rgba(43, 43, 43, 0.97), rgba(107, 107, 107, 0.97));
    bottom: 0;
    border-top: 1px solid rgb(105, 105, 105);
    width: 100%;
}

@keyframes cooldown-efect {

    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }

}

.box-bomb:hover {
    background-image: linear-gradient(to bottom right, rgb(83, 83, 83), rgb(223, 223, 223));
}

.bomb-stts {
    width: 65px;
}

.no-allowed-b {
    width: 20%;
    position: absolute;
    top: 7%;
    left: 73%;
    display: none;
    z-index: 1;
}

.no-allowed-m {
    width: 20%;
    position: absolute;
    top: 7%;
    left: 73%;
    display: none;
    z-index: 1;
}

.shot-haduken-stts {
    width: 40px;
    margin-bottom: 5px;
}

.qt-shot-haduken {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

.arrow-1 {
    background-image: linear-gradient(to right, rgba(132, 0, 255, 0.2), rgba(132, 0, 255, 0));
    width: 1200px;
    height: 119px;
    z-index: 10;
}

/* .arrow-1:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
} */

.arrow-2 {
    background-image: linear-gradient(to right, rgba(0, 255, 234, 0.2), rgba(0, 255, 234, 0));
    width: 1200px;
    height: 119px;
    z-index: 10;
}

/* .arrow-2:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
} */

.arrow-3 {
    background-image: linear-gradient(to right, rgba(17, 0, 255, 0.2), rgba(17, 0, 255, 0));
    width: 1200px;
    height: 119px;
    z-index: 10;
}

/* .arrow-3:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
} */

.arrow-4 {
    background-image: linear-gradient(to right, rgba(217, 255, 0, 0.2), rgba(217, 255, 0, 0));
    width: 1200px;
    height: 119px;
    z-index: 10;
}

/* .arrow-4:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
} */

.arrow-5 {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0));
    width: 1200px;
    height: 119px;
    z-index: 10;
}

/* .arrow-5:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
} */

@keyframes move0 {

    100% {
        top: 0px;
    }

}

@keyframes move1 {
    
    100% {
        top: 120px;
    }

}

@keyframes move2 {
    
    100% {
        top: 240px;
    }

}

@keyframes move3 {
    
    100% {
        top: 360px;
    }

}

@keyframes move4 {
    
    100% {
        top: 480px;
    }

}

@keyframes move0-charge {
    
    100% {
        top: -20px;
    }

}

@keyframes move1-charge {
    
    100% {
        top: 100px;
    }

}

@keyframes move2-charge {
    
    100% {
        top: 220px;
    }

}

@keyframes move3-charge {
    
    100% {
        top: 340px;
    }

}

@keyframes move4-charge {
    
    100% {
        top: 460px;
    }

}

@keyframes shadow-move-1 {
    
    100% {
        top: 0px;
    }

}

@keyframes shadow-move-2 {
    
    100% {
        top: 120px;
    }

}

@keyframes shadow-move-3 {
    
    100% {
        top: 240px;
    }

}

@keyframes shadow-move-4 {
    
    100% {
        top: 360px;
    }

}

@keyframes shadow-move-5 {
    
    100% {
        top: 480px;
    }

}

.shots {
    position: absolute;
    z-index: -1;
}

.shot-0 {
    height: 50px;
    left: 140px;
    animation: shot-move 3.9s linear;
}

.shot-1 {
    height: 75px;
    left: 140px;
    animation: shot-move 3.2s linear;
}

.shot-2 {
    height: 100px;
    left: 140px;
    animation: shot-move 2.5s linear;
}

@keyframes shot-move {

    0% {
        left: 180px;
    }
    100% {
        left: 2100px;
    }

}

.planets {
    position: absolute;
    height: 120px;
    right: -125px;
    z-index: -1;
}

.planets-shadow {
    position: absolute;
    height: 120px;
    right: -125px;
    z-index: -1;
}

@keyframes move-planet {
    
    0% {
        left: 1200px;
    }
    100% {
        left: -250px;
    }

}

@keyframes move-planet-00 {
    
    0% {
        left: 1200px;
    }
    100% {
        left: 800px;
    }

}

@keyframes move-planet-01 {
    
    0% {
        left: 800px;
        filter: grayscale(0%);
    }

    100% {
        left: -250px;
        filter: grayscale(0%);
    }

}

@keyframes move-planet-01-boss {
    
    0% {
        left: 950px;
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100% {
        left: -250px;
    }

}

@keyframes move-planet-02-boss {
    
    0% {
        left: 950px;
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100% {
        left: 800px;
    }

}

@keyframes move-planet-03-boss {
    
    0% {
        left: 800px;
        filter: grayscale(0%);
    }

    100% {
        left: -250px;
        filter: grayscale(0%);
    }

}

@keyframes direction-0 {

    100% {
        top: 0px;
    }

}

@keyframes direction-1 {

    100% {
        top: 117px;
    }

}

@keyframes direction-2 {

    100% {
        top: 237px;
    }

}

@keyframes direction-3 {

    100% {
        top: 357px;
    }

}

@keyframes direction-4 {

    100% {
        top: 477px;
    }

}

.moon-boss {
    height: 592px;
    position: absolute;
    top: 0;
    left: 1200px;
    z-index: -1;
    animation: move-boss 14s 1 linear;
}

@keyframes move-boss {
    
    100% {
        left: -675px;
    }

}

@keyframes rotate-center-0 {

    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes rotate-center-1 {

    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
    
}

.explosion-planet {
    position: absolute;
    height: 120px;
    width: 100px;
    z-index: -1;
}

.bomb-explosion {
    position: absolute;
    width: 1200px;
    height: 599px;
    top: 0;
    left: 0;
    z-index: -1;
}

.stage-start {
    position: absolute;
    width: 500px;
    transform: translate(-26%, -50%);
    animation: stage-start-move 2s 1 linear;
    z-index: 0;
    user-select: none;
    pointer-events: none;
}

@keyframes stage-start-move {

    0% {
        left: 125%;
        top: 50%;
    }

    15% {
        left: 50%;
        top: 50%;
    }

    85% {
        left: 50%;
        top: 50%;
    }

    100% {
        left: 125%;
        top: 50%;
    }

}

.warning {  
    position: absolute;
    width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -78%);
    animation: warning-move 3s forwards;
}

@keyframes warning-move {

    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

.stage-clear {  
    position: absolute;
    width: 800px;
    left: 26%;
    top: -13%;
    animation: stage-clear-move 4s;
}

@keyframes stage-clear-move {

    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        transform: rotate(0);
        top: 13%;
        left: 26%;
    }

    100% {
        transform: rotate(360deg);
        top: 13%;
        left: 125%;
    }

}

.box-barr-hp-boss {
    background-color: rgb(209, 208, 208);
    position: relative;
    margin: auto;
    width: 600px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.2), 0 0 2em rgba(0, 0, 0, 0.2);
    display: none;
}

.barr-hp-boss {
    background-color: #e4ff00;
    position: absolute;
    right: 0;
    height: 100%;
    box-shadow: -1px 0 0.75em rgba(0, 0, 0, 0.3);
    animation: full-boss-hp 2s 3s 1;
}

@keyframes full-boss-hp {

    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

.boss-explosion {
    position: absolute;
    height: 599px;
    z-index: -1;
}

.retry-msg {
    background-color: black;
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -50%);
    border: solid 1px black;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
    animation: transition-msg 1s;
}

@keyframes transition-msg {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.text-game-over {
    color: rgb(255, 60, 0);
    font-family: Courier, monospace;
    font-size: 5em;
    text-shadow: 0 0 30px rgb(255, 60, 0);
}

.cat-game-over {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.button-retry {
    font-family: Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.4em;
    width: 140px;
    height: 60px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

.button-retry:hover {
    background-color: rgb(64, 255, 121);
    box-shadow: inset 1px 1px 30px rgb(255, 255, 255);
    cursor: pointer;
}

.points-final {
    font-family: Courier, monospace;
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 1.4em;
    padding: 20px;
    padding-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -50%);
    border: solid 1px black;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
    animation: transition-msg 1s;
}

.points-final > h2 {
    text-align: left;
}

.points-final > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.button-stage-complete {
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

.button-stage-complete:hover {
    background-color: rgb(64, 255, 121);
    box-shadow: inset 1px 1px 30px rgb(255, 255, 255);
    cursor: pointer;
}

.perfect-stage {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.perfect-stage-msg {
    color: gold;
}

@keyframes movegundam {

    0% {
        top: 0;
    }
    50% {
        top: 480px;
    }
    100% {
        top: 0;
    }

}

.charge1 {
    height: 160px;
    position: absolute;
    top: 220px;
    left: 130px;
    display: none;
    z-index: 1;
}

.charge2 {
    height: 160px;
    position: absolute;
    top: 220px;
    left: 130px;
    display: none;
    z-index: 1;
}

.planet-dead {
    position: absolute;
    height: 120px;
    animation: planet-end 0.4s 1 linear;
    opacity: 0;
    z-index: -1;
}

@keyframes planet-end {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

.gundam-boss {
    height: 280px;
    position: absolute;
    top: 120px;
    left: 888px;
    z-index: -1;
    animation: gundam-entrance 3s ease-out forwards;
}

@keyframes gundam-entrance {

    0% {
        left: 1200px
    }

    100% {
        left: 888px;
    }

}

@keyframes move-gundam {
    
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.4;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes transition-gundam {
    
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }

}