* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    margin: auto;
    border: 4px solid rgb(255, 0, 234);
    width: 1200px;
    height: 600px;
    /* overflow: hidden; */
}

.game-status {
    position: relative;
    margin: auto;
    padding: 15px;
    border: 4px solid rgb(255, 0, 234);
    width: 1200px;
    height: 100px;
}

/* .background-test01 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

.cat {
    height: 120px;
    position: absolute;
    top: 240px;
}

.shot-01 {
    width: 50px;
}

.bomb {
    width: 50px;
}

.arrow-1 {
    background-color: rgba(137, 43, 226, 0.514);
    border: 2px solid black;
    width: 240px;
    height: 119px;
}

.arrow-2 {
    background-color: rgba(43, 226, 211, 0.514);
    border: 2px solid black;
    width: 240px;
    height: 119px;
}

.arrow-3 {
    background-color: rgba(55, 43, 226, 0.514);
    border: 2px solid black;
    width: 240px;
    height: 119px;
}

.arrow-4 {
    background-color: rgba(198, 226, 43, 0.514);
    border: 2px solid black;
    width: 240px;
    height: 119px;
}

.arrow-5 {
    background-color: rgba(226, 43, 43, 0.514);
    border: 2px solid black;
    width: 240px;
    height: 119px;
}

.shot-position-1 {
    position: absolute;
    height: 50px;
    left: 140px;
    animation: shot-move 2s linear;
    top: 35px;
}

.shot-position-2 {
    position: absolute;
    height: 50px;
    left: 140px;
    animation: shot-move 2s linear;
    top: 155px;
}

.shot-position-3 {
    position: absolute;
    height: 50px;
    left: 140px;
    animation: shot-move 2s linear;
    top: 275px;
}

.shot-position-4 {
    position: absolute;
    height: 50px;
    left: 140px;
    animation: shot-move 2s linear;
    top: 395px;
}

.shot-position-5 {
    position: absolute;
    height: 50px;
    left: 140px;
    animation: shot-move 2s linear;
    top: 515px;
}

@keyframes shot-move {

    0% {
        left: 180px;
    }
    100% {
        left: 1200px;
    }

}

.planet-01-y1 {
    height: 120px;
    position: absolute;
    top: 0;
    right: -125px;
    z-index: -1;
    animation: move-planet-01 3s 1 linear;
}

.planet-01-y2 {
    height: 120px;
    position: absolute;
    top: 119px;
    right: -125px;
    z-index: -1;
    animation: move-planet-01 3s 1 linear;
}

.planet-01-y3 {
    height: 120px;
    position: absolute;
    top: 238px;
    right: -125px;
    z-index: -1;
    animation: move-planet-01 3s 1 linear;
}

.planet-01-y4 {
    height: 120px;
    position: absolute;
    top: 357px;
    right: -125px;
    z-index: -1;
    animation: move-planet-01 3s 1 linear;
}

.planet-01-y5 {
    height: 120px;
    position: absolute;
    top: 476px;
    right: -125px;
    z-index: -1;
    animation: move-planet-01 3s 1 linear;
}

@keyframes move-planet-01 {
    
    0% {
        right: -125px;
    }
    100% {
        right: 1200px;
    }

}

.planet-03-y1 {
    height: 120px;
    position: absolute;
    top: 0;
    right: -125px;
    z-index: -1;
    animation: move-planet-03 5s 1 linear;
}

.planet-03-y2 {
    height: 120px;
    position: absolute;
    top: 119px;
    right: -125px;
    z-index: -1;
    animation: move-planet-03 5s 1 linear;
}

.planet-03-y3 {
    height: 120px;
    position: absolute;
    top: 238px;
    right: -125px;
    z-index: -1;
    animation: move-planet-03 5s 1 linear;
}

.planet-03-y4 {
    height: 120px;
    position: absolute;
    top: 357px;
    right: -125px;
    z-index: -1;
    animation: move-planet-03 5s 1 linear;
}

.planet-03-y5 {
    height: 120px;
    position: absolute;
    top: 476px;
    right: -125px;
    z-index: -1;
    animation: move-planet-03 5s 1 linear;
}

@keyframes move-planet-03 {
    
    0% {
        right: -125px;
    }
    100% {
        right: 1200px;
    }

}

.planet-05-y1 {
    height: 120px;
    position: absolute;
    top: 0;
    right: -125px;
    z-index: -1;
    animation: move-planet-05 7s 1 linear;
}

.planet-05-y2 {
    height: 120px;
    position: absolute;
    top: 119px;
    right: -125px;
    z-index: -1;
    animation: move-planet-05 7s 1 linear;
}

.planet-05-y3 {
    height: 120px;
    position: absolute;
    top: 238px;
    right: -125px;
    z-index: -1;
    animation: move-planet-05 7s 1 linear;
}

.planet-05-y4 {
    height: 120px;
    position: absolute;
    top: 357px;
    right: -125px;
    z-index: -1;
    animation: move-planet-05 7s 1 linear;
}

.planet-05-y5 {
    height: 120px;
    position: absolute;
    top: 476px;
    right: -125px;
    z-index: -1;
    animation: move-planet-05 7s 1 linear;
}

@keyframes move-planet-05 {
    
    0% {
        right: -125px;
    }
    100% {
        right: 1200px;
    }

}

.moon-boss {
    height: 592px;
    position: absolute;
    top: 0;
    right: -575px;
    z-index: -1;
    animation: move-boss-01 12s 1 linear;
}

@keyframes move-boss-01 {
    
    0% {
        right: -700px;
    }
    100% {
        right: 1200px;
    }

}

.explosion-planet {
    position: absolute;
    height: 120px;
    width: 100px;
    z-index: -1;
}

.boss-explosion {
    position: absolute;
    height: 599px;
    z-index: -1;
}

.bomb-explosion {
    position: absolute;
    width: 1200px;
    height: 599px;
    z-index: -1;
}

.stage-start {
    position: absolute;
    width: 500px;
    animation: stage-start-move 2s;
}

@keyframes stage-start-move {

    0% {
        left: 125%;
        top: 50%;
        transform: translate(-26%, -50%);
    }

    15% {
        left: 50%;
        top: 50%;
        transform: translate(-26%, -50%);
    }

    85% {
        left: 50%;
        top: 50%;
        transform: translate(-26%, -50%);
    }

    100% {
        left: 125%;
        top: 50%;
        transform: translate(-26%, -50%);
    }

}

.warning {  
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-26%, -50%);
    animation: warning-move 3s;
}

@keyframes warning-move {

    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}