* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-title {
    position: relative;
    background-image: url("/img/title-screen.png");
    background-size: 100% 100%;
    margin: auto;
    width: 1120px;
    height: 630px;
    border: 4px solid rgb(255, 0, 255);
}

.box-buttons-title {
    text-align: center;
    margin: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.4em;
}

.button-title {
    font-family: Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.button-title:hover {
    background-color: rgb(64, 255, 121);
    box-shadow: inset 1px 1px 30px rgb(255, 255, 255);
    cursor: pointer;
}