@font-face {
  src: url(../assets/PressStart2P-Regular.ttf);
  font-family: 'Press Start 2P';
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #292929;
  user-select: none;
}

.game-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ff0000;
  /* overflow: hidden; */
}

.game-loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  z-index: 10;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.game-assets {
  border: 1px solid #fff;
  margin-top: 100vh;
}

.game-screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #5500ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 0;
}

.game-running-area {
  position: relative;
  background-image: linear-gradient(#7f55ff, #7f55ff);
  /* overflow: hidden; */
}

.game-img {
  position: absolute;
  user-select: none;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
}

.score-label {
  position: absolute;
  font-size: 2em;
  top: 5px;
  left: 5px;
  color: #fff;
  z-index: 4;
}

.game-status-barr {
  background-image: linear-gradient(to bottom right, #e4e4e4, #6b6b6b);
  display: flex;
  z-index: 5;
  overflow: hidden;
}

.box-hearts {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-left: 45px;
  background-image: linear-gradient(
    to bottom right,
    #ff4b4b,
    #ffc455,
    #ffff6e,
    #45ff45,
    #6b6bff,
    #b041ff,
    #ffb0ff
  );
  border-right: 1px solid #696969;
}

.heart-icon {
  width: 45px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
}

.box-skill {
  width: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #bebebe, #505050);
  border-right: 1px solid #696969;
}

.explosion {
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.hp-boss-barr {
  position: relative;
  margin: auto;
  width: 600px;
  height: 50px;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 8px #808080;
}

.hp-boss-el {
  position: absolute;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #ffee00;
  box-shadow: inset 1px 1px 4px #fff, 1.5px 1.5px 6px rgba(0, 0, 0, 0.7);
}

.cooldown-box-skill {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-top: 1px solid #696969;
  background-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.97),
    rgba(43, 43, 43, 0.97),
    rgba(107, 107, 107, 0.97)
  );
  cursor: not-allowed;
  z-index: 1;
}

.not-allowed {
  top: 7%;
  left: 73%;
  z-index: 1;
}

.options-key-set {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.options-row {
  width: 100%;
  display: grid;
  grid-template-columns: auto 160px 110px;
  grid-template-rows: repeat(1, 25px);
  align-items: center;
}

.btn-set-key {
  font-size: 1.3rem;
  margin: 1px 1px 1px 15px;
  padding: 5px;
  color: #000;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-set-key:hover {
  background-color: #fff;
}

.btn-set-key:active {
  background-color: #87ffab;
  transform: translateY(2px);
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 25px 25px;
  overflow: hidden;
  z-index: 4;
  animation: transition-msg 0.2s;
}

@keyframes transition-msg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dialog-img-game-over {
  position: relative;
  width: 240px;
  overflow: hidden;
}

.cat-game-over-img {
  width: 100%;
  top: 0;
  left: 0;
}

#thumbs {
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.thumbs-down {
  top: 120px;
}

.btn-box-msg {
  padding: 5px;
  color: #000;
  background-color: #fff;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}

.btn-box-msg:visited {
  color: #000;
}

.btn-box-msg:active {
  background-color: #87ffab;
  transform: translateY(2px);
  color: #000;
}

.hitbox {
  border-width: 3px;
  border-style: solid;
  z-index: 5;
}

.circle {
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay-set-key {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(10, 10, 10, 0.8);
}

.overlay-pause {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: rgba(10, 10, 10, 0.5);
}

.overlay-transition {
  opacity: 0;
  background-color: #000;
}

.game-text {
  font-weight: 700;
  text-transform: uppercase;
}

.opening-stage-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  animation: opening-stage-msg-move 2s 1 linear forwards;
  text-shadow: 0.1rem 0.1rem 0.1rem #919191, 0.2rem 0.2rem 0.1rem #919191,
    0.3rem 0.3rem 0.1rem #919191, 0.4rem 0.4rem 0.1rem #919191,
    0.5rem 0.5rem 0.1rem #919191, 0.6rem 0.6rem 0.1rem #919191,
    0.7rem 0.7rem 0.1rem #919191, 0.8rem 0.8rem 0.1rem #919191,
    0.9rem 0.9rem 0.1rem #919191, 1rem 1rem 0.1rem #919191;
  z-index: 4;
}

.opening-stage-msg-number {
  font-size: 18.4rem;
}

.opening-stage-msg-text {
  font-size: 9.25rem;
}

@keyframes opening-stage-msg-move {
  0% {
    left: -25%;
    opacity: 0;
  }
  15% {
    left: 50%;
    opacity: 1;
  }
  85% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 125%;
    opacity: 0;
  }
}

.stage-clear-msg {
  position: relative;
  font-size: 7.5rem;
  width: 12em;
  height: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #919191, 0.2rem 0.2rem 0.1rem #919191,
    0.3rem 0.3rem 0.1rem #919191, 0.4rem 0.4rem 0.1rem #919191,
    0.5rem 0.5rem 0.1rem #919191, 0.6rem 0.6rem 0.1rem #919191,
    0.7rem 0.7rem 0.1rem #919191, 0.8rem 0.8rem 0.1rem #919191,
    0.9rem 0.9rem 0.1rem #919191, 1rem 1rem 0.1rem #919191;
  animation: stage-clear-msg-move 0.4s 3s ease-in forwards;
  z-index: 4;
}

@keyframes stage-clear-msg-move {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.stage-clear-msg-text {
  position: absolute;
  left: 0;
  top: -8em;
  transform: scaleX(-1);
  animation: stage-clear-msg-text-move 1.4s ease-out forwards;
}

.stage-clear-msg-text:nth-child(2) {
  animation-delay: 0.1s;
  left: 1em;
}

.stage-clear-msg-text:nth-child(3) {
  animation-delay: 0.2s;
  left: 2em;
}

.stage-clear-msg-text:nth-child(4) {
  animation-delay: 0.3s;
  left: 3em;
}

.stage-clear-msg-text:nth-child(5) {
  animation-delay: 0.4s;
  left: 4em;
}

.stage-clear-msg-text:nth-child(6) {
  animation-delay: 0.5s;
  left: 6em;
}

.stage-clear-msg-text:nth-child(7) {
  animation-delay: 0.6s;
  left: 7em;
}

.stage-clear-msg-text:nth-child(8) {
  animation-delay: 0.7s;
  left: 8em;
}

.stage-clear-msg-text:nth-child(9) {
  animation-delay: 0.8s;
  left: 9em;
}

.stage-clear-msg-text:nth-child(10) {
  animation-delay: 0.9s;
  left: 10em;
}

.stage-clear-msg-text:nth-child(11) {
  animation-delay: 1s;
  left: 11em;
}

@keyframes stage-clear-msg-text-move {
  0% {
    left: -10em;
    top: -8em;
  }

  50% {
    transform: scaleX(-1);
  }

  100% {
    top: 0;
    transform: scaleX(1);
  }
}

/* ##fix melhorar lógica dos frames da duração da mensagem com a duração da */
.warning-msg {
  position: relative;
  font-size: 11.5rem;
  width: 7em;
  height: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  text-shadow: none;
  animation: warning-msg-move 2s 1.9s ease-in-out forwards;
  z-index: 4;
}

@keyframes warning-msg-move {
  8% {
    text-shadow: 0.1rem 0.1rem 0.1rem #910000, 0.2rem 0.2rem 0.1rem #910000,
      0.3rem 0.3rem 0.1rem #910000, 0.4rem 0.4rem 0.1rem #910000,
      0.5rem 0.5rem 0.1rem #910000, 0.6rem 0.6rem 0.1rem #910000,
      0.7rem 0.7rem 0.1rem #910000, 0.8rem 0.8rem 0.1rem #910000,
      0.9rem 0.9rem 0.1rem #910000, 1rem 1rem 0.1rem #910000;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.warning-msg-text {
  position: absolute;
  left: 0;
  opacity: 0;
  animation: warning-msg-text-move 0.25s ease-in forwards;
}

.warning-msg-text:nth-child(2) {
  animation-delay: 0.25s;
  left: 1em;
}

.warning-msg-text:nth-child(3) {
  animation-delay: 0.5s;
  left: 2em;
}

.warning-msg-text:nth-child(4) {
  animation-delay: 0.75s;
  left: 3em;
}

.warning-msg-text:nth-child(5) {
  animation-delay: 1s;
  left: 4em;
}

.warning-msg-text:nth-child(6) {
  animation-delay: 1.25s;
  left: 5em;
}

.warning-msg-text:nth-child(7) {
  animation-delay: 1.5s;
  left: 6em;
}

@keyframes warning-msg-text-move {
  0% {
    left: 0;
    font-size: 110rem;
    opacity: 0.3;
  }
  100% {
    font-size: 11.5rem;
    opacity: 1;
  }
}

.btn-test {
  font-size: 1.4rem;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: #000;
  background-color: #e6e6e6;
  box-shadow: 0 2px 2px #000;
  cursor: pointer;
}

.btn-test:hover {
  background-color: #fff;
}

.btn-test:active {
  background-color: #87ffab;
  transform: translateY(2px);
  box-shadow: none;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
}

.wrapper-spritesheet {
  position: absolute;
  overflow: hidden;
  /* border: 0.5px solid black; */
  z-index: 2;
}
